# BTM710 Research Methods
## Final Research Paper Accompanying Data Preprocessing Code
### Anna Briskina

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import descartes
import geopandas as gpd

## Crime Data Preprocessing

In [2]:
# Load the neighborhood crime rates data
crime_data = pd.read_csv('Neighbourhood_Crime_Rates_Open_Data.csv')
crime_data.head()

,OBJECTID_1,AREA_NAME,HOOD_ID,ASSAULT_2014,ASSAULT_2015,ASSAULT_2016,ASSAULT_2017,ASSAULT_2018,ASSAULT_2019,ASSAULT_2020,...,THEFTOVER_RATE_2017,THEFTOVER_RATE_2018,THEFTOVER_RATE_2019,THEFTOVER_RATE_2020,THEFTOVER_RATE_2021,THEFTOVER_RATE_2022,THEFTOVER_RATE_2023,POPULATION_2023,Shape__Area,Shape__Length
0,1,South Eglinton-Davisville,174,63,61,70,82,85,70,82,...,5.237247,15.232292,14.822866,24.197842,28.634151,14.006910,36.385136,21987,9.443090e+05,4005.549887
1,2,North Toronto,173,45,52,43,52,55,77,72,...,16.500288,39.413528,30.234316,43.830814,14.241971,27.502750,46.428333,15077,4.020308e+05,2543.945884
2,3,Dovercourt Village,172,56,57,79,94,94,96,75,...,22.146759,29.146021,21.698250,21.709240,14.541224,29.008631,21.681000,13837,1.503002e+06,4965.496448
3,4,Junction-Wallace Emerson,171,154,157,166,157,157,182,169,...,24.404133,27.956388,15.754854,35.254025,31.309929,31.035419,34.298782,26240,2.222867e+06,7435.192384
4,5,Yonge-Bay Corridor,170,394,524,487,603,576,660,383,...,289.951111,349.539246,481.909271,259.798096,188.651871,358.826416,346.208679,14731,1.118725e+06,4811.107669

In [3]:
# Remove unnecessary columns from the dataset
crime_data.drop(['OBJECTID_1', 
                 'HOOD_ID', 
                 'POPULATION_2023', 
                 'Shape__Area', 
                 'Shape__Length'], 
                axis=1, inplace=True)

# Drop all columns containing the word "RATE"
cols_to_drop = [col for col in crime_data.columns if 'RATE' in col]
crime_data.drop(cols_to_drop, axis=1, inplace=True)

# Display the remaining column names
crime_data.columns

Index(['AREA_NAME', 'ASSAULT_2014', 'ASSAULT_2015', 'ASSAULT_2016',
       'ASSAULT_2017', 'ASSAULT_2018', 'ASSAULT_2019', 'ASSAULT_2020',
       'ASSAULT_2021', 'ASSAULT_2022', 'ASSAULT_2023', 'AUTOTHEFT_2014',
       'AUTOTHEFT_2015', 'AUTOTHEFT_2016', 'AUTOTHEFT_2017', 'AUTOTHEFT_2018',
       'AUTOTHEFT_2019', 'AUTOTHEFT_2020', 'AUTOTHEFT_2021', 'AUTOTHEFT_2022',
       'AUTOTHEFT_2023', 'BIKETHEFT_2014', 'BIKETHEFT_2015', 'BIKETHEFT_2016',
       'BIKETHEFT_2017', 'BIKETHEFT_2018', 'BIKETHEFT_2019', 'BIKETHEFT_2020',
       'BIKETHEFT_2021', 'BIKETHEFT_2022', 'BIKETHEFT_2023', 'BREAKENTER_2014',
       'BREAKENTER_2015', 'BREAKENTER_2016', 'BREAKENTER_2017',
       'BREAKENTER_2018', 'BREAKENTER_2019', 'BREAKENTER_2020',
       'BREAKENTER_2021', 'BREAKENTER_2022', 'BREAKENTER_2023',
       'HOMICIDE_2014', 'HOMICIDE_2015', 'HOMICIDE_2016', 'HOMICIDE_2017',
       'HOMICIDE_2018', 'HOMICIDE_2019', 'HOMICIDE_2020', 'HOMICIDE_2021',
       'HOMICIDE_2022', 'HOMICIDE_2023', 'ROBBERY_2014', 'ROBBERY_2015',
       'ROBBERY_2016', 'ROBBERY_2017', 'ROBBERY_2018', 'ROBBERY_2019',
       'ROBBERY_2020', 'ROBBERY_2021', 'ROBBERY_2022', 'ROBBERY_2023',
       'SHOOTING_2014', 'SHOOTING_2015', 'SHOOTING_2016', 'SHOOTING_2017',
       'SHOOTING_2018', 'SHOOTING_2019', 'SHOOTING_2020', 'SHOOTING_2021',
       'SHOOTING_2022', 'SHOOTING_2023', 'THEFTFROMMV_2014',
       'THEFTFROMMV_2015', 'THEFTFROMMV_2016', 'THEFTFROMMV_2017',
       'THEFTFROMMV_2018', 'THEFTFROMMV_2019', 'THEFTFROMMV_2020',
       'THEFTFROMMV_2021', 'THEFTFROMMV_2022', 'THEFTFROMMV_2023',
       'THEFTOVER_2014', 'THEFTOVER_2015', 'THEFTOVER_2016', 'THEFTOVER_2017',
       'THEFTOVER_2018', 'THEFTOVER_2019', 'THEFTOVER_2020', 'THEFTOVER_2021',
       'THEFTOVER_2022', 'THEFTOVER_2023'],
      dtype='object')

In [4]:
# Check for missing values
missing_values = crime_data.isnull().sum()

# Display the count of missing values for each column
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
AREA_NAME         0
ASSAULT_2014      0
ASSAULT_2015      0
ASSAULT_2016      0
ASSAULT_2017      0
                 ..
THEFTOVER_2019    1
THEFTOVER_2020    1
THEFTOVER_2021    8
THEFTOVER_2022    3
THEFTOVER_2023    2
Length: 91, dtype: int64

In [5]:
# Replace missing values with 0
crime_data.fillna(0, inplace=True)

In [6]:
# Save the cleaned crime data to a new CSV file
crime_data.to_csv('crime_data.csv', index=False)

### Total Count of Different Crimes by Year

In [7]:
# Define crime types
crime_types = ['ASSAULT', 'THEFTOVER', 'HOMICIDE', 'SHOOTING', 'BIKETHEFT', 'AUTOTHEFT', 'THEFTFROMMV', 'BREAKENTER', 'ROBBERY']

# Initialize an empty dictionary to hold the data
crime_total = {}

# Iterate over each crime type and year to calculate the total count
for crime_type in crime_types:
    crime_total[crime_type] = {}
    for year in range(2014, 2024):
        year_columns = [col for col in crime_data.columns if col.startswith(crime_type) and col.endswith(str(year))]
        crime_total[crime_type][year] = crime_data[year_columns].sum().sum()

# Create a DataFrame from the dictionary
crime_total_df = pd.DataFrame(crime_total)

# Set 'YEAR' as index
crime_total_df.index.name = 'YEAR'

# Display the DataFrame
crime_total_df

,ASSAULT,THEFTOVER,HOMICIDE,SHOOTING,BIKETHEFT,AUTOTHEFT,THEFTFROMMV,BREAKENTER,ROBBERY
YEAR,,,,,,,,,
2014,16530,993.0,58.0,177.0,3023.0,3576.0,9605,7185,3668.0
2015,17875,1035.0,59.0,288.0,3294.0,3262.0,8646,6911,3472.0
2016,18626,1030.0,75.0,407.0,3798.0,3311.0,7677,6402,3654.0
2017,18928,1167.0,65.0,392.0,3856.0,3568.0,8266,6883,4008.0
2018,19586,1230.0,98.0,427.0,3967.0,4774.0,9002,7565,3623.0
2019,20602,1368.0,79.0,492.0,3704.0,5285.0,9795,8438,3508.0
2020,17974,1209.0,71.0,462.0,3915.0,5731.0,10193,6914,2773.0
2021,19012,1053.0,85.0,409.0,3154.0,6579.0,8119,5671,2243.0
2022,21024,1444.0,71.0,380.0,2940.0,9662.0,9309,6038,2807.0
2023,24376,1724.0,72.0,342.0,3008.0,12013.0,8681,7632,3149.0

In [8]:
# Save as CSV
crime_total_df.to_csv('crime_total.csv', index=True)

In [9]:
# Add a new column 'TOTAL' which sums up all crime types
crime_total_df['TOTAL'] = crime_total_df.iloc[:, 1:].sum(axis=1)
crime_total_df

,ASSAULT,THEFTOVER,HOMICIDE,SHOOTING,BIKETHEFT,AUTOTHEFT,THEFTFROMMV,BREAKENTER,ROBBERY,TOTAL
YEAR,,,,,,,,,,
2014,16530,993.0,58.0,177.0,3023.0,3576.0,9605,7185,3668.0,28285.0
2015,17875,1035.0,59.0,288.0,3294.0,3262.0,8646,6911,3472.0,26967.0
2016,18626,1030.0,75.0,407.0,3798.0,3311.0,7677,6402,3654.0,26354.0
2017,18928,1167.0,65.0,392.0,3856.0,3568.0,8266,6883,4008.0,28205.0
2018,19586,1230.0,98.0,427.0,3967.0,4774.0,9002,7565,3623.0,30686.0
2019,20602,1368.0,79.0,492.0,3704.0,5285.0,9795,8438,3508.0,32669.0
2020,17974,1209.0,71.0,462.0,3915.0,5731.0,10193,6914,2773.0,31268.0
2021,19012,1053.0,85.0,409.0,3154.0,6579.0,8119,5671,2243.0,27313.0
2022,21024,1444.0,71.0,380.0,2940.0,9662.0,9309,6038,2807.0,32651.0
2023,24376,1724.0,72.0,342.0,3008.0,12013.0,8681,7632,3149.0,36621.0

In [10]:
# Save as CSV
crime_total_df.to_csv('crime_increase.csv', index=True)

### Assault by Year and Neighborhood

In [11]:
# Define crime types
crime_types = ['ASSAULT', 'THEFTOVER', 'HOMICIDE', 'SHOOTING', 'BIKETHEFT', 'AUTOTHEFT', 'THEFTFROMMV', 'BREAKENTER', 'ROBBERY']

# Create a dictionary to hold separate DataFrames for each crime type
crime_type_dfs = {}

# Loop over each crime type
for crime_type in crime_types:
    # Filter the DataFrame to include only columns related to the current crime type
    crime_columns = [col for col in crime_data.columns if col.startswith(crime_type)]
    crime_data_subset = crime_data[['AREA_NAME'] + crime_columns].copy()
    
    # Rename the columns to years
    new_column_names = {col: col.replace(crime_type + '_', '') for col in crime_data_subset.columns}
    crime_data_subset.rename(columns=new_column_names, inplace=True)
    
    # Set the name of the first column to 'YEAR'
    crime_data_subset.rename(columns={crime_data_subset.columns[0]: 'YEAR'}, inplace=True)
    
    # Transpose the DataFrame
    crime_data_subset = crime_data_subset.transpose()
    
    # Store the DataFrame for the current crime type in the dictionary
    crime_type_dfs[crime_type] = crime_data_subset

In [12]:
# Accessing individual DataFrames for each crime type
crime_type_dfs['ASSAULT']

for crime_type, df in crime_type_dfs.items():
    file_name = crime_type.lower() + "_data.csv"  # Constructing the file name
    df.to_csv(file_name, header=False)  # Saving the DataFrame to a CSV file

In [13]:
# Load the assault rates data
assault_df = pd.read_csv('assault_data.csv').transpose()
print(assault_df.head())

                              0     1     2     3     4     5     6     7  \
YEAR                       2014  2015  2016  2017  2018  2019  2020  2021
South Eglinton-Davisville    63    61    70    82    85    70    82   121
North Toronto                45    52    43    52    55    77    72   104
Dovercourt Village           56    57    79    94    94    96    75   101
Junction-Wallace Emerson    154   157   166   157   157   182   169   178

                              8     9
YEAR                       2022  2023
South Eglinton-Davisville   128   101
North Toronto               130   105
Dovercourt Village           95   104
Junction-Wallace Emerson    139   229

In [14]:
# Summing up the assault counts across all areas for each year
assault_df['Total Assault'] = assault_df.sum(axis=1)

In [15]:
# Sorting the areas based on their avg assault counts in descending order
sorted_areas = assault_df.sort_values(by='Total Assault', ascending=False)

# Displaying the top areas with the highest avg assaults
print("Top areas with the highest assault rates over time:")
print(sorted_areas[['Total Assault']].head(11))

Top areas with the highest assault rates over time:
                                       Total Assault
YEAR                                           20185
Moss Park                                       5447
Downtown Yonge East                             5002
Yonge-Bay Corridor                              4936
Wellington Place                                4566
Kensington-Chinatown                            3942
West Hill                                       3916
York University Heights                         3421
Church-Wellesley                                3169
Glenfield-Jane Heights                          3077
St Lawrence-East Bayfront-The Islands           2929

### Total Count of Crimes by Neighborhood

In [16]:
# Initialize an empty dictionary to hold the total count of crimes by neighborhood
crime_total = {}

# Iterate over each neighborhood
for index, row in crime_data.iterrows():
    neighborhood = row['AREA_NAME']
    if neighborhood not in crime_total:
        crime_total[neighborhood] = 0
    # Sum the total count of crimes for the neighborhood
    crime_total[neighborhood] += row.iloc[1:].sum()

# Create a DataFrame from the dictionary
crime_total_df = pd.DataFrame(list(crime_total.items()), columns=['Neighborhood', 'Total_Crime_Count'])

# Display the DataFrame
print(crime_total_df)

                  Neighborhood  Total_Crime_Count
0    South Eglinton-Davisville             2168.0
1                North Toronto             1703.0
2           Dovercourt Village             2441.0
3     Junction-Wallace Emerson             4298.0
4           Yonge-Bay Corridor            10483.0
..                         ...                ...
153     West Humber-Clairville            13892.0
154                Black Creek             4263.0
155       Pelmo Park-Humberlea             2128.0
156                 Humbermede             3189.0
157              Humber Summit             4024.0

[158 rows x 2 columns]

In [17]:
# Save as CSV
crime_total_df.to_csv('crime_total_by_neighborhood.csv', index=True)

In [18]:
# Sort the DataFrame by 'Total_Crime_Count' column in descending order
top_10_neighborhoods = crime_total_df.sort_values(by='Total_Crime_Count', ascending=False).head(15)

# Display the top 10 neighborhoods
print("Top 10 Neighborhoods with Highest Total Crime Counts:")
print(top_10_neighborhoods)

Top 10 Neighborhoods with Highest Total Crime Counts:
                              Neighborhood  Total_Crime_Count
153                 West Humber-Clairville            13892.0
82                               Moss Park            11439.0
37                     Downtown Yonge East            11045.0
80                    Kensington-Chinatown            10912.0
4                       Yonge-Bay Corridor            10483.0
41                        Wellington Place             9508.0
125                York University Heights             9368.0
62                                   Annex             8106.0
85                         South Riverdale             7152.0
25                               West Hill             6952.0
39   St Lawrence-East Bayfront-The Islands             6925.0
38                        Church-Wellesley             6541.0
126                 Glenfield-Jane Heights             6044.0
8                 Oakdale-Beverley Heights             5831.0
68                     Clairlea-Birchmount             5789.0

## Geo Data Preprocessing

In [19]:
# Load the geographic data
toronto_neigbourhood_gpd = gpd.read_file('Neighbourhood_Crime_Rates_Open_Data.geojson')

In [20]:
# Convert geometry to latitude and longitude
toronto_neigbourhood_gpd['latitude'] = toronto_neigbourhood_gpd.centroid.y
toronto_neigbourhood_gpd['longitude'] = toronto_neigbourhood_gpd.centroid.x

In [21]:
# Save latitude and longitude along with neighborhood names to a CSV file
toronto_neigbourhood_gpd[['AREA_NAME', 'latitude', 'longitude']].to_csv('geo.csv', index=False)

In [22]:
# Load the saved geographic data for merging
geo_data = pd.read_csv('geo.csv')
geo_data.head()

                   AREA_NAME   latitude  longitude
0  South Eglinton-Davisville  43.701941 -79.392626
1              North Toronto  43.710262 -79.395078
2         Dovercourt Village  43.666237 -79.428808
3   Junction-Wallace Emerson  43.665312 -79.445127
4         Yonge-Bay Corridor  43.652960 -79.383731

In [23]:
# Merge crime_data and geo_data based on AREA_NAME
merged_data = pd.merge(crime_data, geo_data, left_on='AREA_NAME', right_on='AREA_NAME', how='inner')
merged_data.head()

,AREA_NAME,ASSAULT_2014,ASSAULT_2015,ASSAULT_2016,ASSAULT_2017,ASSAULT_2018,ASSAULT_2019,ASSAULT_2020,ASSAULT_2021,ASSAULT_2022,...,THEFTOVER_2016,THEFTOVER_2017,THEFTOVER_2018,THEFTOVER_2019,THEFTOVER_2020,THEFTOVER_2021,THEFTOVER_2022,THEFTOVER_2023,latitude,longitude
0,South Eglinton-Davisville,63,61,70,82,85,70,82,121,128,...,4.0,1.0,3.0,3.0,5.0,6.0,3.0,8.0,43.701941,-79.392626
1,North Toronto,45,52,43,52,55,77,72,104,130,...,2.0,2.0,5.0,4.0,6.0,2.0,4.0,7.0,43.710262,-79.395078
2,Dovercourt Village,56,57,79,94,94,96,75,101,95,...,5.0,3.0,4.0,3.0,3.0,2.0,4.0,3.0,43.666237,-79.428808
3,Junction-Wallace Emerson,154,157,166,157,157,182,169,178,139,...,6.0,6.0,7.0,4.0,9.0,8.0,8.0,9.0,43.665312,-79.445127
4,Yonge-Bay Corridor,394,524,487,603,576,660,383,323,443,...,27.0,35.0,44.0,63.0,35.0,26.0,51.0,51.0,43.652960,-79.383731

## Socioeconomic Data Preprocessing

In [24]:
# Load the neighborhood profiles data
profiles = pd.read_csv('neighbourhood-profiles.csv')
profiles.head()

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

### Income Data Preprocessing

In [25]:
# Filter data for the characteristic 'Total income: Average amount ($)'
income = profiles[profiles['Characteristic'] == 'Total income: Average amount ($)']

# Drop unnecessary columns from the income data
income.drop(['_id', 'Category', 'Topic', 'Data Source', 'Characteristic', 'City of Toronto'], axis=1, inplace=True)

# Transpose the data for better usability and rename the column
income = income.T
income.columns = ['Income']
income.head()

                               Income
Agincourt North                30,414
Agincourt South-Malvern West   31,825
Alderwood                      47,709
Annex                         112,766
Banbury-Don Mills              67,757

In [26]:
# Save the income data to a CSV file
income.to_csv('income.csv', index=True)

### Unemployment

In [27]:
# Filter data for employed and unemployed characteristics
labour = profiles[profiles['Characteristic'].isin(['    Employed', '    Unemployed'])]

# Drop unnecessary columns from the labor data
labour.drop(['_id', 'Category', 'Topic', 'Data Source', 'City of Toronto'], axis=1, inplace=True)

# Transpose the data and rename the columns
labour = labour.T
labour.columns = ['Employed', 'Unemployed']
labour.drop(labour.index[0], inplace=True)
labour.head()

                             Employed Unemployed
Agincourt North                12,510      1,360
Agincourt South-Malvern West   10,855      1,185
Alderwood                       6,405        415
Annex                          17,305      1,250
Banbury-Don Mills              13,010      1,010

In [28]:
# Save as CSV
labour.to_csv('labour.csv', index=True)